[Unit]
Description=MyTaxi Celery Worker
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/iiumgo
Environment="PATH=/root/iiumgo/venv/bin"
ExecStart=/root/iiumgo/venv/bin/celery -A mytaxi worker --concurrency 1 -l info --logfile=/root/iiumgo/logs/mytaxi_info.log
Restart=always

[Install]
WantedBy=multi-user.target
