[Unit]
Description=myproject Daphne Service
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/root/iiumgo
ExecStart=/root/iiumgo/venv/bin/daphne -p 9000 mytaxi.asgi:application --websocket_timeout 86400
[Install]
WantedBy=multi-user.target