{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iiumGO: Welcome to iiumGO</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
  </head>
  {% comment %}
  <div class="navbar bg-base-100">
    <div class="flex-none">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a>Item 1</a></li>
          <li tabindex="0">
            <a class="justify-between">
              Parent
              <svg
                class="fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
                />
              </svg>
            </a>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl">iiumGo</a>
    </div>
    <div class="flex-1"></div>

    <div class="flex-none space-x-2">
      <div class="flex px4">
        <a class="btn px-4 pl-2" href="">Login</a>
      </div>
      <a class="btn px-4">Get started</a>
    </div>
  </div>
  {% endcomment %}
  <body class="bg-gray-100">
    <div class="flex justify-center items-center h-screen">
      <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold text-gray-800 my-8">
          Currently on Building the Website
        </h1>
        <img
          src="{% static 'svg/undraw_Building_blocks_re_5ahy.png' %}"
          alt="Building Blocks"
          class="mx-auto my-4 w-1/2 sm:w-1/3"
        />
      </div>
    </div>
  </body>
</html>
